body {
    background-color: white
    ;
    font-family: sans-serif;
    font-size: 20px;
    color: black;}

canvas {
    background-color: white;
}

#wrap {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.controls {
    margin-bottom: 10px;
}

select {
    font-size: 10px;
    border: none;
    background-color: transparent;
}