/*** GENERAL ****************************************************************/

body {
    background: #F7F7F7;
    font-family: helvetica neue,helvetica,arial,sans-serif;
    font-size: 13px;
    line-height: 1.3;
    color: #444;
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/*** HEADER *****************************************************************/

.header {
    padding: 10px 0;
    background: #e6e6e6;
    border-bottom: 1px solid #FFF;
}

.header h1 {
    margin: 0 0 0.5em 0;
    padding: 0;
}

.header h2 {
    margin: 0 0 0.5em 0;
    padding: 0;
}

.header p {
    margin: 0 0 0.5em 0;
    padding: 0;
}

.header a {
    color: #F9F2E7;
}

.header .container {
    padding: 0 10px;
}

/*** CONTROLS ***************************************************************/

.controls {
    padding: 10px 0;
    border-bottom: 1px solid #EEE;
}

.controls .container {
    padding: 0 10px;
}

label {
    display: block;
    font-weight: bold;
    margin: 0 0 0.2em 0;
}

input[type="range"] {
    margin-bottom: 0.5em;
}

button {
    line-height: 1.3;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 12px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #666;
    transition: all 200ms;
}

button:hover {
    color: #EEE;
    background: #444;
    border-color: #666;
}

/*** SCENE ******************************************************************/

.scene {
    background: white;
}

/*** FOOTER *****************************************************************/

.footer {
    padding: 20px 0;
    background: #555;
    color: #999;
}

.footer .container {
    padding: 0 10px;
}
